---
/* Icons */
import LibraryIcon from "@/icons/LibraryIcon.astro"
import HomeIcon  from '@/icons/HomeIcon.astro'
import SearchIcon from '@/icons/SearchIcon.astro'
import SideMenuItem from "@/components/SideMenuItem.astro"
import SideMenuCard from "@/components/SideMenuCard.astro"


import { playlists }  from '@/lib/data.ts'
---

<nav class="flex flex-col flex-1 gap-2">
    <div class="bg-zinc-900 rounded-lg p-2">
        <ul>    
            <SideMenuItem>
                <HomeIcon />
                Home
            </SideMenuItem>
            <SideMenuItem>
                <SearchIcon />
                Search
            </SideMenuItem>
        </ul>
    </div>

    <div class="bg-zinc-900 rounded-lg p-2 flex-1">
        <ul>
            <SideMenuItem>
                <LibraryIcon />
                Tu biblioteca
            </SideMenuItem>

            {
                playlists.map((playlist) => <SideMenuCard  playlist={playlist}/>)
            }


        </ul>
    </div>
</nav>