---
import type { Playlist } from "@/lib/data";
import CardPlayButton from "./CardPlayButton";

interface Props {
    playlist: Playlist;
}

const { playlist } = Astro.props;

const { id, cover, title, artists, color } = playlist;

const artistsString = artists.join(", ");
---

<article class="group relative rounded-md hover:bg-zinc-800 shadow-lg hover:shadow-xl bg-zinc-500/50">

    <div class=`absolute right-4 bottom-14 translate-y-4
    transition-all duration-500 opacity-0 group-hover:translate-y-0
    group-hover:opacity-100 z-10`>
        <CardPlayButton client:load id={10} />
    </div>

    <a
        href={`/playlist/${id}`}
        class="playlist-item transition-all duration-300 overflow-hidden flex relative p-2
        items-center gap-2  w-44 flex-col"
        transition:name=`playlist ${id} box`
    >
        <picture class="h-auto w-full aspect-square flex-none">
            <img
                src={cover}
                alt={`Cover of ${title} by ${artistsString}`}
                class="object-cover w-full h-full rounded-md"
                transition:name=`playlist ${id} image`
            />
        </picture>

        <div class="flex flex-auto flex-col">
            <h4
                transition:name=`playlist ${id} title`
                class="text-white text-sm"
            >
                {title}
            </h4>
            <span
                transition:name=`playlist ${playlist?.id} artists`
                class="truncate text-xs text-gray-400">{artistsString}</span
            >
        </div>
    </a>
</article>
