---

interface Props {
    href?: string; 
}

const { href } = Astro.props

---

<li>
    <a 
        class="flex gap-4 text-zinc-400 hover:text-zinc-100 items-center py-3 px-5 font-medium"
        href={href}>
        <slot />
    </a>
</li>
