---
import type { Playlist } from "@/lib/data"

interface Props {
    playlist: Playlist
}

const { playlist } = Astro.props

const { id, cover, title, artists, color } = playlist

const artistsString = artists.join(", ")

---

<a 
    href={`/playlist/${id}`}
    class="playlist-item flex relative p-2 overflow-hidden items-center gap-5 rounded-md hover:bg-zinc-800"
>
    <picture class="h-12 w-12 flex-none">
        <img 
            src={cover}
            alt={`Cover of ${title} by ${artistsString}`}
            class="object-cover w-full h-full rounded-md"
        >
    </picture>

    <div class="flex flex-auto flex-col truncate">
        <h4 class="text-white text-sm">{title}</h4>
        <span class="truncate text-xs text-gray-400">{artistsString}</span>
    </div>
</a>
